# Cloudflare Tunnel token (Zero Trust Dashboard -> Tunnels -> your tunnel -> Configure -> Token)
CF_TUNNEL_TOKEN=

# Recommended stable hostname you will create in Cloudflare (Public Hostname)
# Example: https://hls.yourdomain.com
# Then set VITE_HLS_BASE_URL=https://hls.yourdomain.com in Vercel
HLS_PUBLIC_URL=https://hls.huynnphotography.id.vn
