# Cấu hình Database (PostgreSQL chạy trên Docker port 5433 như trong docker-compose)
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/traffic_db?schema=public"

# Cấu hình Redis (Chạy trên Docker port 6379)
REDIS_HOST="localhost"
REDIS_PORT=6379

# Cấu hình App
PORT=3000